h1 {
    text-align: center;
}
.bridgeLogo{
    display: block;
    margin:0 auto;
    width: 25%;
}
input {
    display: block;
    margin: 0 auto;
}
.error-output {
    color: red;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    margin-left: 43%;
}