  <!--UC => 1 Display the Message Using One Way Data Binding-->
  <!--UC => 2 Display the Bridgelabz Logo Image Using Property Binding-->
  <!--UC => 3 Launch BridgeLabz Site in a New tab on Clicking Bridgelabz Logo Using Event Binding--> 
<div>
  <h1>Hello {{this.userName}} from Bridgelabz</h1>
  <div>
    <img class="bridgeLogo" [src]="imgUrl" alt="Bridgelabz logo" (click)="OnClick($event)" />
  </div>
  <!--UC => 4 Display Hello from BridgeLabz with a User Inputted Name Using Two way Binding-->
  <input [(ngModel)]="userName" (input)=OnInput($event) />
  <!-- UC => 5 Validates the User Name In case Error Display the error-->
  <span class="error-output">{{this.nameError}}</span>
</div>

<router-outlet></router-outlet>